<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { CONTENT_TYPES } from '../../../common/content-types';
import {
  CardBasicStyle,
  GradientHero,
  NextStep,
  Quote,
  SideNavigationVariant,
  TextBlockWithButtons,
} from '../../../components/common/index.vue';
import { getClient } from '~/plugins/contentful.js';
import { SolutionsResourceCards } from '~/components/solutions/index.vue';
import { techPartnerChildrenHelper } from '~/services/partners/technology-partners-children.service';
import { FooterEditLinkMixin } from '~/mixins';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    NextStep,
    GradientHero,
    SolutionsResourceCards,
    SideNavigationVariant,
    CardBasicStyle,
    TextBlockWithButtons,
    Quote,
  },
  nuxtI18n: false,
  mixins: [FooterEditLinkMixin],

  async asyncData({ params }: any) {
    try {
      const partnerSlug = `partners/technology-partners/${params.partner}`;
      const entries = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'fields.slug': partnerSlug,
        include: 10,
      });

      const spaceId = entries.items[0].sys.space.sys.id;
      const entryId = entries.items[0].sys.id;

      const { pageContent } = entries.items[0].fields;
      const seoMetadata = entries.items[0].fields.seoMetadata[0].fields;

      const metadata = {
        title: seoMetadata.title,
        description: seoMetadata.description,
        og_title: seoMetadata.title,
        og_description: seoMetadata.description,
      };

      const partner = techPartnerChildrenHelper(pageContent);

      return { partner, metadata, spaceId, entryId };
    } catch (e) {
      throw new Error(e);
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <GradientHero
      :title="partner.hero.title"
      :subtitle="partner.hero.subtitle"
    />
    <SideNavigationVariant
      :links="partner.navLinks.anchors"
      :partners-variation="true"
      :nav-image="partner.navLinks.image"
      :partner-buttons="partner.navLinks.buttons"
    >
      <SlpContainer id="overview" class="partners__headlines">
        <TextBlockWithButtons
          v-for="card in partner.headlines.cards"
          :key="card.title"
          :data="card"
        />
      </SlpContainer>
      <SlpContainer class="partners__benefits">
        <CardBasicStyle
          v-for="card in partner.benefits.cards"
          :key="card.title"
          :no-hover="true"
          :padding-size="24"
          :no-header="true"
          class="slp-mb-32"
        >
          <div class="partners__benefits-card-title">
            <SlpIcon
              :alt="card.icon.alt"
              size="md"
              :variant="card.icon.variant"
              :name="card.icon.name"
            />
            <SlpTypography
              tag="h4"
              variant="heading5-bold"
              class="slp-mb-16 slp-ml-16"
              >{{ card.title }}</SlpTypography
            >
          </div>
          <SlpTypography tag="p" variant="body1">{{
            card.description
          }}</SlpTypography>
        </CardBasicStyle>
      </SlpContainer>
      <SlpContainer id="testimonials">
        <Quote :data="partner.quote" />
      </SlpContainer>
      <SlpContainer id="get-started" variant="light-purple-100" :offset="2">
        <section class="partners__solutions">
          <TextBlockWithButtons :data="partner.solutions" class="slp-mb-32" />
          <div
            v-for="card in partner.solutions.cards"
            :key="card.title"
            class="partners__solutions-cards"
          >
            <SlpTypography tag="h5" variant="heading5-bold" class="slp-mb-16">{{
              card.title
            }}</SlpTypography>
            <SlpTypography tag="p" variant="body1" class="slp-mb-32">{{
              card.description
            }}</SlpTypography>
            <SlpButton
              v-if="card.button.text"
              :href="card.button.href"
              variant="tertiary"
            >
              {{ card.button.text }}
              <SlpIcon name="chevron-lg-right" variant="product" />
            </SlpButton>
          </div>
        </section>
      </SlpContainer>
    </SideNavigationVariant>
    <SlpContainer>
      <SolutionsResourceCards :data="partner.resourceCards" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
div[role='main'] {
  overflow: clip;
}
.partners {
  &__headlines {
    margin-top: $spacing-32;
  }

  &__benefits {
    margin-top: $spacing-48;
    &-card {
      &-title {
        display: flex;
      }
    }
  }
  &__solutions {
    height: 100%;
    padding: $spacing-96 0 $spacing-24;
    position: relative;
    &::v-deep p strong {
      font-weight: 600;
    }
    &-cards {
      background-color: $color-surface-50;
      padding: $spacing-24;
      margin-bottom: $spacing-24;
    }
    &:after {
      content: '';
      position: absolute;
      width: 200vw;
      height: 100%;
      top: 0;
      left: -50vw;
      z-index: -1;
      background: $color-surface-800;
    }
  }
}
</style>
~/services/partners/technology-partners-children.service
