<script lang="ts">
export default {
  props: {
    data: {
      type: Object,
      required: true,
      default: () => ({}),
    },
    id: {
      type: String,
      required: false,
      default: null,
    },
  },
};
</script>

<template>
  <div v-if="data" :id="id" class="section">
    <SlpTypography tag="h2" variant="heading2-bold">{{
      data.title
    }}</SlpTypography>
    <div v-if="data.text" class="text" v-html="$md.render(data.text)" />
    <div class="cards">
      <a
        v-for="card in data.cards"
        :key="card.title"
        :class="`card ${card.new_flag && 'new'}`"
        :href="card.link_url"
        :data-ga-name="card.data_ga_name"
        :data-ga-location="card.data_ga_location"
      >
        <div v-if="card.icon" class="image-container">
          <SlpIcon
            v-if="card.icon.variant"
            :name="card.icon.name"
            :alt="card.icon.alt"
            :variant="card.icon.variant"
            :hex-color="card.icon.hex_color"
            size="lg"
          />
          <nuxt-img
            v-if="card.icon && !card.icon.variant"
            :src="`/nuxt-images/logos/${card.icon.name}.svg`"
            :alt="card.icon.alt"
            format="webp"
            quality="99"
          />
        </div>
        <SlpTypography tag="h3" variant="heading3">{{
          card.title
        }}</SlpTypography>
        <SlpTypography tag="p">{{ card.subtext }}</SlpTypography>
        <span
          >{{ card.link_text }}
          <SlpIcon
            class="slp-ml-16"
            name="chevron-lg-right"
            variant="product"
            alt="Chevron Right Icon"
          />
        </span>
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.section {
  margin: $spacing-64 0;
  position: relative;

  h2 {
    margin-bottom: $spacing-16;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $spacing-16;
    align-items: stretch;
    margin-top: $spacing-48;
  }

  .card {
    flex: 1 0 33%;
    background: $color-surface-50;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 40px $spacing-24;
    width: 100%;
    max-width: 450px;
    min-width: 320px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: $shadow-surface-primary-3;
    }

    @media (max-width: 820px) {
      // breakpoint at iPad Air width and below
      flex: 0 0 calc(50% - 8px);
      flex-wrap: wrap;
    }

    @media (max-width: $breakpoint-sm) {
      flex: 0 0 100%;
      margin: $spacing-16 0;
      max-width: 100%;
    }

    h3 {
      margin: $spacing-16 0 $spacing-24 0;
      color: $color-text-300;
    }

    p {
      color: $color-text-300;
      font-size: $font-size-default;
      line-height: $line-height-default;
      margin-bottom: $spacing-24;
    }

    span {
      font-weight: $font-weight-bold;
      color: $color-text-300;
      display: flex;
      align-items: center;

      svg {
        margin-left: 12px;
      }
    }
  }

  .image-container {
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    position: relative;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .text:deep {
    p,
    ul {
      margin-bottom: $spacing-16;
    }

    li {
      margin-bottom: $spacing-8;
    }
  }
}
</style>
