<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'RedGreenCurves',
});
</script>

<template>
  <div ref="red-green-curves" class="red-green-curves">
    <svg
      width="653"
      height="533"
      viewBox="0 0 653 533"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_463_6048)">
        <path
          d="M563.297 146.407C624.721 37.2522 502.547 73.7968 394.657 182.198L312.642 264.139L300.853 275.547C296.293 279.645 290.227 282.088 283.628 281.943C269.866 281.64 258.916 270.191 259.218 256.425C259.369 249.541 262.306 243.362 266.926 238.939"
          stroke="url(#paint0_linear_463_6048)"
          stroke-width="0.813486"
        />
      </g>

      <path
        d="M369.021 268.745C374.299 281.572 388.972 287.69 401.794 282.41C414.617 277.13 420.733 262.453 415.455 249.626C410.176 236.799 395.567 230.845 382.682 235.961C378.015 237.814 375.638 240.113 375.638 240.113C369.456 245.787 363.301 251.65 357.191 257.696C253.108 360.641 201.313 477.055 241.505 517.717C281.696 558.378 398.652 507.888 502.736 404.943C634.777 274.347 702.832 72.8327 608.584 8.94822C552.727 -22.1933 460.83 41.1395 427.953 65.346"
        stroke="url(#paint2_linear_463_6048)"
        stroke-width="0.813486"
      />

      <defs>
        <filter
          id="filter0_d_463_6048"
          x="255.565"
          y="76.8594"
          width="327.87"
          height="208.735"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6048"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6048"
            result="shape"
          />
        </filter>
        <filter
          id="filter1_d_463_6048"
          x="0.0459051"
          y="137.225"
          width="447.958"
          height="177.867"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 1 0 0 0 0 0.835294 0 0 0 0 0.54902 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6048"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6048"
            result="shape"
          />
        </filter>
        <filter
          id="filter2_d_463_6048"
          x="228.477"
          y="201.256"
          width="97.4121"
          height="58.4678"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.662745 0 0 0 0 0.537255 0 0 0 0 0.960784 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6048"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6048"
            result="shape"
          />
        </filter>
        <linearGradient
          id="paint0_linear_463_6048"
          x1="253.313"
          y1="248.488"
          x2="586.936"
          y2="111.16"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F39FC5" />
          <stop offset="1" stop-color="#E24329" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_463_6048"
          x1="52.4175"
          y1="300.235"
          x2="405.999"
          y2="154.691"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FCA121" />
          <stop offset="1" stop-color="#FFD58C" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_463_6048"
          x1="324.878"
          y1="559.277"
          x2="582.89"
          y2="-3.56564"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#5DDAB4" />
          <stop offset="1" stop-color="#338F7E" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_463_6048"
          x1="226.369"
          y1="242.797"
          x2="316.246"
          y2="205.801"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.red-green-curves {
  position: absolute;
  top: -10.7%;
  left: 1.2%;
  width: 96.1%;
  svg {
    width: 100%;
    height: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
