<script>
export default {
  name: 'TableLegend',
  props: {
    data: {
      type: Object,
      default: null,
    },
  },
};
</script>

<template>
  <div class="footer">
    <div class="legend">
      <SlpTypography tag="p" variant="body3-bold">
        {{ data.label }}
      </SlpTypography>
      <div class="legend-items">
        <div v-for="item in data.items" :key="item.name" class="legend-item">
          <SlpTypography
            id="mature-feature"
            tag="p"
            class="feature existing"
            variant="body3-bold"
            >{{ item.name }}</SlpTypography
          >
          <SlpTooltip
            :id="item.name"
            :text="item.tooltip"
            position="top"
            mode="click"
            class="tooltip"
          >
            <SlpIcon variant="product" name="information-o"
          /></SlpTooltip>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.legend {
  margin-top: $spacing-24;

  .legend-items {
    border: 1px solid $color-surface-600;
    border-radius: 4px;
    padding: $spacing-16;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: $spacing-8;
  }

  .existing,
  .planned {
    font-size: 13px;
    margin-bottom: $spacing-4;
  }
  .legend-item {
    display: flex;
    align-items: center;
    color: #fff;
    &:before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      background-color: #fff;
      margin-right: 8px;
    }
    &:first-of-type {
      margin-bottom: 8px;
      &::before {
        background-color: $color-accent-400;
      }
    }
  }
  .tooltip {
    border: none;
    :deep .slp-icon {
      color: $color-accent-400;
    }
  }
  .feature {
    color: #fff !important;
    margin-bottom: 0;
  }
}
</style>
