<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'EnterpriseFeatureList',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="feature-list slp-my-64">
    <SlpIcon
      v-if="data.icon"
      class="slp-mb-16"
      :name="data.icon.name"
      :alt="data.icon.alt"
      size="xl"
      :variant="data.icon.variant"
    />
    <SlpRow class="slp-mb-24 feature-list-flex">
      <SlpColumn class="feature-list-header" :cols="6">
        <SlpTypography tag="h2" variant="heading2-bold">{{
          data.title
        }}</SlpTypography>
      </SlpColumn>
      <SlpColumn :cols="6">
        <SlpTypography tag="p" variant="heading5">{{
          data.subtitle
        }}</SlpTypography>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="slp-justify-content-between">
      <SlpColumn
        v-for="feature in data.features"
        :key="feature.title"
        class="feature"
        :cols="6"
      >
        <div :class="{ inner_icon: data.inner_icon }">
          <SlpIcon
            v-if="feature.icon"
            class="slp-mb-16"
            :name="feature.icon.name"
            :alt="feature.icon.alt"
            size="md"
            :variant="feature.icon.variant"
          />
          <SlpTypography
            tag="p"
            variant="heading5-bold"
            class="feature__title slp-mb-32 slp-mt-16"
            >{{ feature.title }}</SlpTypography
          >
        </div>
        <SlpTypography
          v-if="feature.description"
          tag="p"
          variant="body1"
          class="feature__description slp-text-base slp-my-16"
          >{{ feature.description }}
        </SlpTypography>
        <ul
          class="feature__subfeatures"
          :class="{ 'remove-bullet-points': feature.remove_bullet_points }"
        >
          <li
            v-for="subfeature in feature.subfeatures"
            :key="subfeature.title"
            class="feature__subfeature slp-text-base"
          >
            <SlpButton
              v-if="subfeature.url"
              class="link"
              variant="tertiary"
              :href="subfeature.url"
              :data-ga-location="subfeature.data_ga_location"
              :data-ga-name="subfeature.data_ga_name"
            >
              {{ subfeature.title }}
              <SlpIcon
                name="chevron-lg-right"
                class="icon"
                variant="product"
                color="#7759C2"
              />
            </SlpButton>

            <SlpTypography v-else variant="body1"
              >{{ subfeature.title }}
            </SlpTypography>
          </li>
        </ul>
        <SlpTypography
          v-if="feature.url"
          tag="p"
          variant="body2"
          class="feature__textlink slp-py-16"
          >Learn more →
        </SlpTypography>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<style lang="scss" scoped>
.feature-list-flex {
  justify-content: space-between;
  align-items: start;

  @media (max-width: $breakpoint-md) {
    h2 {
      margin-bottom: $spacing-16;
    }
  }
}
.feature-list-header {
  max-width: 505px;
}
.link {
  font-weight: $font-weight-normal;
  color: $color-text-link-100;
  text-align: left;
  display: inline-block;

  .icon {
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 2px;
    margin-left: 3px;
  }

  &:hover {
    text-decoration-color: $color-text-link-100;
  }
}

.feature {
  background: $color-surface-800;
  border-radius: 4px;
  padding: $spacing-32;
  margin: $spacing-16 0;
  position: relative;
  width: 100%;
  max-width: 570px;

  & .inner_icon {
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    top: -$spacing-16;
  }

  &__link {
    color: $color-text-300;
  }

  &__title {
    font-weight: bold;
  }

  &__description {
    margin-bottom: $spacing-32;
  }

  &__subfeatures {
    list-style: disc;
    margin-left: $spacing-16;

    &.remove-bullet-points {
      list-style: none;
      margin-left: 0;
    }
  }

  &__textlink {
    color: $color-secondary-200;
    font-weight: bold;
  }

  &__subfeature {
    margin-bottom: $spacing-16;
  }

  @media (max-width: $breakpoint-sm) {
    padding: $spacing-24 $spacing-16 $spacing-16 $spacing-16;
    margin: $spacing-16 0;
    box-shadow: 0 4px 8px rgba(195, 195, 195, 0.25);
  }
}
</style>
