<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import { DemoModal } from '../../../components/common/index.vue';
import { IsMobileMixin } from '../../../mixins';

interface Solution {
  name: string;
  description: string;
  href: string;
  icon: string;
  video?: {
    title?: string;
    image: string;
    url: string;
  };
}

export default Vue.extend({
  components: {
    DemoModal,
  },
  mixins: [IsMobileMixin],
  props: {
    solutions: {
      type: Array as PropType<Solution[]>,
      required: true,
    },

    aiDemo: {
      type: Object,
      required: false,
      default: null,
    },
    ciDemo: {
      type: Object,
      required: false,
      default: null,
    },
  },

  data() {
    return {
      aiModal: {
        open: false,
      },
      ciModal: {
        open: false,
      },
    };
  },
  methods: {
    openAIModal() {
      this.aiModal.open = true;
      // Make sure Vimeo analytics work:
      // https://vimeo.zendesk.com/hc/en-us/articles/115002859607-Integrate-the-Vimeo-player-with-Google-Tag-Manager
      setTimeout(() => {
        window.__vimeoRefresh();
      }, 3000);
    },
    openCIModal() {
      this.ciModal.open = true;
      // Make sure Vimeo analytics work:
      // https://vimeo.zendesk.com/hc/en-us/articles/115002859607-Integrate-the-Vimeo-player-with-Google-Tag-Manager
      setTimeout(() => {
        window.__vimeoRefresh();
      }, 3000);
    },
    closeAIModal() {
      this.aiModal.open = false;
    },
    closeCIModal() {
      this.ciModal.open = false;
    },
  },
});
</script>

<template>
  <div class="solution-grid">
    <a
      v-for="solution in solutions"
      :key="solution.name"
      class="solution-card"
      :href="solution.href"
      :data-ga-name="solution.name"
      data-ga-location="by solution"
    >
      <SlpIcon :name="solution.icon" size="md" variant="marketing" />
      <SlpTypography variant="heading5-bold">{{ solution.name }}</SlpTypography>
      <SlpTypography variant="body3">{{ solution.description }}</SlpTypography>

      <div class="demo-card">
        <div
          v-if="solution.demoOn == 'AI Demo'"
          class="ai-card__buttons modal-container"
        >
          <div class="modal-container--button" @click="openAIModal">
            <SlpIcon
              :name="solution.launchButton.icon_name"
              :variant="solution.launchButton.icon_variant"
              class="demo__icon"
            />
            <SlpButton class="demo-card-text" variant="tertiary">{{
              solution.launchButton.text || 'Try demos'
            }}</SlpButton>
          </div>

          <DemoModal
            v-show="aiModal.open"
            :data="aiDemo"
            :visible="aiModal.open"
            @close="closeAIModal"
          >
          </DemoModal>

          <span v-if="isMobile == false" class="button-divider">|</span>
        </div>
        <div
          v-if="solution.demoOn == 'CI Demo'"
          class="ci-card__buttons modal-container"
        >
          <div class="modal-container--button" @click="openCIModal">
            <SlpIcon
              :name="solution.launchButton.icon_name"
              :variant="solution.launchButton.icon_variant"
              class="demo__icon"
            />
            <SlpButton class="demo-card-text" variant="tertiary">{{
              solution.launchButton.text || 'Try demos'
            }}</SlpButton>
          </div>

          <DemoModal
            v-show="ciModal.open"
            :data="ciDemo"
            :visible="ciModal.open"
            @close="closeCIModal"
          >
          </DemoModal>

          <span v-if="isMobile == false" class="button-divider">|</span>
        </div>
        <SlpButton
          class="demo-card-text"
          variant="tertiary"
          :href="solution.button.href"
          >{{ solution.button.text }}
          <SlpIcon
            :name="solution.button.icon_name"
            :variant="solution.button.icon_variant"
          />
        </SlpButton>
      </div>
    </a>
    <a
      class="cta-card"
      href="/calculator/roi/"
      data-ga-name="roi calculator"
      data-ga-location="by solution"
    >
      <SlpIcon name="time-is-money" size="md" variant="marketing" />
      <SlpTypography variant="heading5-bold"
        >How much is your toolchain costing you?</SlpTypography
      >
      <SlpButton variant="tertiary" class="cta-button">
        Try our ROI calculator
        <SlpIcon name="chevron-right" variant="product" size="md" />
      </SlpButton>
    </a>
  </div>
</template>

<style lang="scss" scoped>
.solution-grid {
  display: grid;
  margin-top: 24px;
  grid-template-columns: 1fr;
  gap: 16px;
  @media (min-width: $breakpoint-lg) {
    min-width: 290px;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    gap: px;
  }
  .featured-solution {
    cursor: pointer;
    border: 1px solid $color-surface-800;
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
    }
    &:hover {
      .solution-card {
        border-radius: 4px 0 0 4px;
        background: linear-gradient(
          93.83deg,
          rgba(199, 177, 254, 0.4) 7.27%,
          rgba(255, 212, 216, 0.4) 105.33%
        );
      }
    }
    .solution-card {
      border-radius: 4px 0 0 4px;
      flex-basis: 50%;
    }
    .image__container {
      flex-basis: 50%;
      position: relative;
      @media (max-width: $breakpoint-lg) {
        min-height: 300px;
      }
      @media (min-width: $breakpoint-lg) {
        max-width: 50%;
      }

      &:hover {
        .image__container--play {
          opacity: 1;
        }
      }

      &--play {
        position: absolute;
        top: 40%;
        right: 45%;
        opacity: 0.75;
        transition: all 0.3s;
      }
      img {
        min-height: 100%;
        object-fit: cover;
        @media (max-width: $breakpoint-md) {
          width: 100%;
          min-height: initial;
        }
      }
    }
  }

  .featured-solution {
    grid-column: 1;
    justify-content: space-between;
    @media (min-width: $breakpoint-lg) {
      grid-column: span 2;
    }
  }

  .cta-card,
  .solution-card {
    cursor: pointer;
    display: flex;
    color: $color-text-300;

    flex-direction: column;
    gap: 16px;
    padding: 24px;
  }
  .cta-card {
    border: 1px solid #eee7fd;
    border-radius: 4px;
    .cta-button {
      text-align: left;
      white-space: nowrap;
    }
  }
  .solution-card {
    justify-content: space-between;
    background-color: $color-surface-800;
    min-height: 250px;
    border-radius: 4px;
    transition: all 0.3s;

    .demo-card {
      display: flex;
      align-items: center;

      &-text {
        color: #7759c2;
        font-size: 14px;
        &:hover {
          text-decoration: underline#7759c2;
        }
      }
      .modal-container {
        display: flex;
        justify-content: center;
        align-items: center;

        &--button {
          display: flex;
          align-items: center;
        }
        .demo__icon {
          height: 24px !important;
          width: 24px !important;
          margin-right: 7px;
          color: #7759c2;
        }
      }

      .button-divider {
        color: #7759c2 !important;
        font-weight: 250;
        padding-right: 16px;
      }

      @media (max-width: $breakpoint-md) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
</style>
