<script lang="ts">
import Vue from 'vue';
import { NAV_CONTENT_TYPES } from '../../common/content-types';
import { convertToCaseSensitiveLocale } from '../../common/util';
import { getNavigationClient } from '~/plugins/contentful';
import { SearchEventMixin } from '~/mixins';
import { NAVIGATION_CTF_ID } from '~/common/constants';

export default Vue.extend({
  name: 'SlpNavigationHOC',
  mixins: [SearchEventMixin],
  data() {
    return {
      searchVisible: false,
      navigation: {},
    };
  },
  async fetch() {
    if (
      this.$nuxt.context.payload &&
      this.$nuxt.context.payload[this.$i18n.locale]['navigation']
    ) {
      // Production build
      const { navigation } = this.$nuxt.context.payload[this.$i18n.locale];
      this.navigation = navigation;
    } else {
      const { items } = await getNavigationClient().getEntries({
        content_type: NAV_CONTENT_TYPES.NAVIGATION,
        include: 3,
        'sys.id': NAVIGATION_CTF_ID,
        order: 'sys.id',
        locale: convertToCaseSensitiveLocale(this.$i18n.locale),
      });

      if (!items.length) {
        const error = `Navigation entry with id ${NAVIGATION_CTF_ID} not found`;
        // eslint-disable-next-line
        console.error(error);
        throw new Error(error);
      }

      const [navigation] = items;
      this.navigation = navigation;
    }
  },
  mounted() {
    document.addEventListener('searchClick', this.toggleDesktopSearch);
  },
  methods: {
    closeDesktopSearch() {
      this.searchVisible = false;
    },
    toggleDesktopSearch() {
      this.searchVisible = !this.searchVisible;
      if (this.searchVisible) {
        this.sendFocusToSearch();
      }
    },
    openDesktopSearch() {
      this.searchVisible = true;
      this.sendFocusToSearch();
    },
    sendFocusToSearch() {
      const searchBarReference = this.$refs.searchBar as any;
      setTimeout(() => {
        searchBarReference?.$refs.searchInput.focus();
      }, 350);
    },
  },
});
</script>

<template>
  <div class="nav-hoc">
    <client-only>
      <SlpNavigation
        free-trial-variant="primary"
        :contentful-navigation-data="navigation"
      />
    </client-only>
  </div>
</template>

<style lang="scss">
.nav-hoc {
  background: $color-surface-50;
  min-height: 84px;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1025;

  @media (min-width: 576px) and (max-width: 1024px) {
    min-height: 80px;
  }

  @media (max-width: 575px) {
    min-height: 116px;
  }

  .navigation-dropdown__popover {
    a {
      text-decoration: none !important;
    }
  }
}
</style>
