<script lang="ts">
import Vue from 'vue';
import PressKitAsset from './press-kit-asset.vue';

export default Vue.extend({
  name: 'PressKitSection',
  components: { PressKitAsset },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer :id="data.id" class="press-kit-section">
    <div class="press-kit-section__heading">
      <div class="press-kit-section__img">
        <img
          v-if="data.image.src"
          :src="data.image.src"
          :alt="data.image.alt"
        />
      </div>
      <SlpTypography variant="heading4-bold" tag="h2" class="slp-mb-8">{{
        data.header
      }}</SlpTypography>
      <SlpTypography
        v-if="data.description"
        variant="body2"
        v-html="$md.render(data.description)"
      />
    </div>
    <div class="press-kit-section__grid">
      <PressKitAsset
        v-for="item in data.items"
        :key="item.title"
        :data="item"
      />
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.press-kit-section {
  padding-top: $spacing-64;
  @media (min-width: $breakpoint-md) {
    padding-left: $spacing-96;
    padding-right: $spacing-96;
    &:not(:first-of-type) {
      padding-top: $spacing-96;
    }
  }
  &__img {
    height: 78px;
    margin-bottom: $spacing-24;
    img {
      height: 100%;
    }
  }
  &__heading {
    text-align: center;
    margin-bottom: $spacing-16;
  }
  &__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
