<script lang="ts">
import { PropType } from 'vue';

interface Stat {
  figure_number: string;
  figure_text: string;
}

export default {
  props: {
    stats: {
      type: Array as PropType<Stat[]>,
      required: true,
    },
  },
};
</script>

<template>
  <div class="stats">
    <div
      v-for="(stat, index) in stats"
      :key="stat.figure_number"
      :class="`stat delay${index}`"
    >
      <p>
        <span class="figure-number">{{ stat.figure_number }}</span
        ><span class="figure-text">{{ stat.figure_text }}</span>
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.stat {
  animation: slide-in-anim 1.5s ease-out forwards;
  padding: $spacing-24 0;
  transform: translateX(200%);
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    transform: translateX(0);
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .figure-number {
    color: $color-secondary-300;
    font-size: $text-heading-2;
    margin-right: $spacing-16;
    text-align: right;
    min-width: 30%;
    line-height: 1;
    @media (min-width: $breakpoint-md) {
      min-width: 40%;
    }
    @media (min-width: $breakpoint-lg) {
      min-width: 30%;
    }
  }
  &.delay0 {
    animation-delay: 0s;
  }
  &.delay1 {
    animation-delay: 0.5s;
  }
  &.delay2 {
    animation-delay: 1s;
  }
}

@media (max-width: 768px) {
  .stats {
    width: 100%;
  }

  .stat {
    padding: $spacing-8 0;

    .figure-number {
      font-size: $text-heading-2-mobile;
    }

    .figure-text {
      font-size: $text-body-3;
      text-align: left;
    }
  }
}

@keyframes slide-in-anim {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
</style>
