<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';

import { NAV_CONTENT_TYPES } from '../common/content-types';
import { convertToCaseSensitiveLocale } from '../common/util';
import { AosAnimationsMixin } from '../mixins';
import { generateLayoutMeta } from '~/common/meta';

import { getNavigationClient } from '~/plugins/contentful';
import SlpFooterHOC from '~/components/navigation/footer-hoc.vue';

export default Vue.extend({
  components: {
    SlpFooterHOC,
  },
  mixins: [AosAnimationsMixin],

  data() {
    return {
      footer: {},
      contentfulEntryUrl: '',
    };
  },
  async fetch() {
    const footerEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.FOOTER,
      'sys.id': 'QxdoqHd5ixKTwFjIHYvYI',
      include: 3,
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });

    const [footer] = footerEntry.items;

    this.footer = footer;
  },
  head(): MetaInfo {
    return generateLayoutMeta(this.$route.path, this.$i18n.locale);
  },
  created() {
    this.$nuxt.$on('contentfulIds', (data) => {
      const { spaceId, entryId } = data;
      if (spaceId !== undefined && entryId !== undefined) {
        this.contentfulEntryUrl = `https://app.contentful.com/spaces/${spaceId}/entries/${entryId}`;
      }
    });
  },
});
</script>

<template>
  <div>
    <Nuxt />
    <SlpFooterHOC :contentful-entry-id="contentfulEntryUrl" />
  </div>
</template>
