<script lang="ts">
import Vue from 'vue';
import { UseLocalizedVideoSubtitles } from '~/mixins';

export default Vue.extend({
  name: 'MicrositeVideo',
  mixins: [UseLocalizedVideoSubtitles],
  props: {
    data: {
      type: Object,
      required: true,
    },
    partner: {
      type: Object,
      required: false,
      default: null,
    },
  },
});
</script>

<template>
  <div :id="data.anchorId ? data.anchorId : ''" class="video-container">
    <iframe
      :src="createVideoSource(data.video_url)"
      :title="data.title || 'Video player'"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</template>

<style lang="scss" scoped>
.video-container {
  width: 100%;
  iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border: none;
  }
}
</style>
