<script lang="ts">
import Vue from 'vue';
import { SolutionsVideoModal } from '../../solutions/index.vue';
import { UseLocalizedVideoSubtitles } from '~/mixins';

export default Vue.extend({
  components: {
    SolutionsVideoModal,
  },
  mixins: [UseLocalizedVideoSubtitles],
  data() {
    return {
      video: {
        title: 'Vimeo video 2',
        internalName: 'features-video-1',
        thumbnail:
          'https://images.ctfassets.net/xz1dnu24egyd/5joPc6c3CzcB9mNMFEck3z/515638e3fe15778a34c633c6aed0bb27/GitLab-Duo-Chat-Thumbnail.png',
        url: 'https://player.vimeo.com/video/927753737?badge=0&autopause=0&player_id=0&app_id=58479',
      },
      group: {
        internalName: 'ai-features-alt',
        header: 'Chat',
        card: [
          {
            fields: {
              internalName: 'ai-features-card-2',
              iconName: 'ai-tests-in-mr',
              title: 'Test generation',
              description:
                'Automates repetitive tasks and helps catch bugs early.',
            },
          },
          {
            fields: {
              internalName: 'ai-features-card-3',
              iconName: 'ai-code-explaination',
              title: 'Code explanation',
              description:
                'Helps you understand code by explaining it in natural language.',
            },
          },
          {
            fields: {
              internalName: 'ai-features-card-4',
              iconName: 'ai-gitlab-chat',
              title: 'Code refactoring',
              description:
                'Supports developers in improving existing code quality.',
            },
          },
        ],
      },
      showModal: false,
      videoTwo: {
        title: 'Vimeo video 2',
        internalName: 'features-video-2',
        thumbnail:
          'https://images.ctfassets.net/xz1dnu24egyd/7AkbANwqDRV4ZqndvUVblg/7d6e91e4ba1522dd0fc42a4c7ace7586/Code-Suggestions-Video-Thumbnail.png',
        url: 'https://player.vimeo.com/video/894621401?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479',
      },
      groupTwo: {
        internalName: 'ai-features-alt',
        header: 'Code Suggestions',
        card: [
          {
            fields: {
              internalName: 'ai-code-suggestions',
              iconName: 'ai-code-suggestions',
              title: 'Code generation',
              description:
                'Automatically generate lines of code, including full functions, from single and multi-line comments as well as comment blocks.',
            },
          },
          {
            fields: {
              internalName: 'ai-features-card-2',
              iconName: 'ai-gitlab-chat',
              title: 'Code completion',
              description:
                'Automatically generate new lines of code from a few typed characters.',
            },
          },
          {
            fields: {
              internalName: 'ai-features-card-3',
              iconName: 'ai-generate-issue-description',
              title: 'Language and IDE support',
              long: true,
              description:
                'Available in 15 languages, including C++, C#, Go, Java, JavaScript, Python, PHP, Ruby, Rust, Scala, Kotlin, and TypeScript. And you can use your favorite IDE — VS Code, Visual Studio, JetBrains’ suite of IDEs, and Neovim are all supported.',
            },
          },
        ],
      },
      showModalTwo: false,
    };
  },
  methods: {
    openModal() {
      this.showModal = true;
    },
    openModalTwo() {
      this.showModalTwo = true;
    },
  },
});
</script>

<template>
  <div class="features-alt">
    <div>
      <SlpTypography
        :data-aos="'fade-up'"
        :data-aos-duration="1200"
        :data-aos-offset="200"
        class="slp-pb-16 text-white"
        variant="heading2-bold"
        tag="h2"
      >
        What’s new in GitLab Duo
      </SlpTypography>
      <SlpTypography
        :data-aos="'fade-up'"
        :data-aos-duration="1200"
        :data-aos-offset="200"
        class="text-gray slp-mb-96"
        variant="heading4-bold"
        tag="p"
      >
        Improve developer <em>efficiency and effectiveness</em> even more with
        Chat and Code Suggestions.
      </SlpTypography>
    </div>
    <div>
      <div class="ai-features-card">
        <div class="ai-features-card__inner" @click="openModal()">
          <SlpIcon
            class="play-icon"
            name="play-circle"
            variant="marketing"
            size="xl"
          />
          <img :src="video.thumbnail" />
        </div>
        <SolutionsVideoModal
          v-show="showModal && video?.url"
          light-background
          :visible="showModal"
          @close="showModal = false"
        >
          <template #body>
            <iframe
              :src="createVideoSource(video?.url)"
              title="Video player"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </template>
        </SolutionsVideoModal>
        <div class="ai-card-content">
          <SlpTypography
            class="slp-pb-16"
            variant="heading2-bold"
            tag="h2"
            :data-aos="'fade-up'"
            :data-aos-duration="1200"
            :data-aos-offset="200"
          >
            {{ group.header }}
            <nuxt-img
              style="position: relative; top: -20px"
              src="/nuxt-images/solutions/ai/icons/eyebrow-one.svg"
              alt=""
              format="webp"
              quality="99"
            />
          </SlpTypography>
          <SlpTypography
            class="text-gray slp-mb-48"
            variant="heading5-bold"
            tag="p"
            :data-aos="'fade-up'"
            :data-aos-duration="1200"
            :data-aos-offset="200"
          >
            <em>Real-time guidance</em>
            for technical and non-technical users
            <em>across the entire software development lifecycle</em>.
          </SlpTypography>
          <div class="ai-features-card-list chat">
            <div
              v-for="item in group.card"
              :key="item.fields.internalName"
              class="ai-features-card-item"
              :data-aos="'fade-up'"
              :data-aos-duration="1200"
              :data-aos-offset="200"
            >
              <SlpIcon
                :name="item.fields.iconName"
                color="white"
                variant="marketing"
                size="md"
              />
              <SlpTypography variant="body1-bold" class="slp-mt-8" tag="h4">{{
                item.fields.title
              }}</SlpTypography>
              <SlpTypography class="text-gray" variant="body2" tag="p">{{
                item.fields.description
              }}</SlpTypography>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slp-mt-96">
      <div class="ai-features-card">
        <div class="ai-features-card__inner" @click="openModalTwo()">
          <SlpIcon
            class="play-icon"
            name="play-circle"
            variant="marketing"
            size="xl"
          />
          <img :src="videoTwo.thumbnail" />
        </div>
        <SolutionsVideoModal
          v-show="showModalTwo && videoTwo?.url"
          light-background
          :visible="showModalTwo"
          @close="showModalTwo = false"
        >
          <template #body>
            <iframe
              :src="createVideoSource(videoTwo?.url)"
              title="Video player"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </template>
        </SolutionsVideoModal>
        <div class="ai-card-content">
          <SlpTypography
            class="slp-pb-16"
            variant="heading2-bold"
            tag="h2"
            :data-aos="'fade-up'"
            :data-aos-duration="1200"
            :data-aos-offset="200"
          >
            {{ groupTwo.header }}
            <nuxt-img
              style="position: relative; top: -20px"
              src="/nuxt-images/solutions/ai/icons/eyebrow-one.svg"
              alt=""
              format="webp"
              quality="99"
            />
          </SlpTypography>
          <SlpTypography
            class="text-gray slp-mb-48"
            variant="heading5-bold"
            tag="p"
            :data-aos="'fade-up'"
            :data-aos-duration="1200"
            :data-aos-offset="200"
          >
            Help developers <em>write secure code more efficiently</em> and
            <em>accelerate cycle times</em> by taking care of repetitive,
            routine coding tasks.
          </SlpTypography>
          <div class="ai-features-card-list">
            <div
              v-for="item in groupTwo.card"
              :key="item.fields.internalName"
              class="ai-features-card-item"
              :class="{ 'ai-features-card-item--long': item.fields.long }"
              :data-aos="'fade-up'"
              :data-aos-duration="1200"
              :data-aos-offset="200"
            >
              <SlpIcon
                :name="item.fields.iconName"
                color="white"
                variant="marketing"
                size="md"
              />
              <SlpTypography variant="body1-bold" class="slp-mt-8" tag="h4">{{
                item.fields.title
              }}</SlpTypography>
              <SlpTypography class="text-gray" variant="body2" tag="p">{{
                item.fields.description
              }}</SlpTypography>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.features-alt {
  color: white;
}
em {
  font-style: normal;
  color: white;
}

.ai-features-card {
  border: 1px solid #45424d;
  border-radius: 12px;
  overflow: hidden;

  &__inner {
    position: relative;
    margin-bottom: -6px;

    img {
      width: 100%;
      cursor: pointer;
      display: block;
      transition: all 0.2s ease;
    }

    &:hover {
      img {
        filter: brightness(0.8);
      }
      .play-icon::v-deep {
        circle {
          fill: #171321;
        }
        path {
          fill: white;
        }
      }
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 48px;
      color: #fff;
      cursor: pointer;
      z-index: 2;

      ::v-deep path {
        fill: black;
        transition: fill 0.2s ease;
      }

      ::v-deep circle {
        transition: fill 0.2s ease;
      }
    }
  }
}

.ai-card-content {
  padding: 32px;
  background: linear-gradient(
    0.71deg,
    rgba(225, 152, 109, 0.1) 0.61%,
    rgba(110, 67, 211, 0.1) 99.4%
  );
}

.ai-features-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  &.chat {
    flex-wrap: nowrap;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.ai-features-card-item {
  border-radius: 8px;
  width: calc(50% - 12px);
  padding: 24px;
  background: #171321;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &--long {
    width: 100%;
  }
}

.text-gray {
  color: #a2a1a6;
}

.text-white {
  color: white;
}

em {
  color: white;
}

/* copy pasted from featured-add-ons-card-tier.vue, but with some adjustments */
.addon-tier__pill-wrapper {
  top: -30px;
  position: relative;
  padding: 4px 12px;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 1.5px solid transparent;
    background: linear-gradient(
        89.09deg,
        #e1986d -1.12%,
        #7759c2 102.06%,
        #6e43d3 102.07%
      )
      border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.addon-tier__pill {
  img {
    position: absolute;
    top: 8px;
  }

  span {
    padding-left: 20px;
    display: block;
    letter-spacing: 0.3px;
  }
}
</style>
