<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import JourneyIllustration from './journey-illustration.vue';
import AnimateOnScroll from '~/components/common/animate-on-scroll.vue';

interface AiFeature {
  name: string;
  description: string;
}

export default Vue.extend({
  components: {
    JourneyIllustration,
    AnimateOnScroll,
  },
  props: {
    features: {
      type: Array as PropType<AiFeature[]>,
      required: true,
    },
    runOnAnimationEnd: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      animationEnd: false,
    };
  },
  mounted() {
    if (this.runOnAnimationEnd) {
      const animatedSiblings = document.querySelectorAll('.animation-wrapper');
      animatedSiblings[animatedSiblings.length - 1].addEventListener(
        'animationend',
        () => {
          this.animationEnd = true;
        },
      );
    } else {
      this.animationEnd = true;
    }
  },
});
</script>

<template>
  <div class="journey">
    <div class="features">
      <div v-for="feature in features" :key="feature.name" class="ai-feature">
        <AnimateOnScroll v-if="animationEnd">
          <SlpTypography variant="heading4-bold" tag="h2" class="name">{{
            feature.name
          }}</SlpTypography>
          <SlpTypography variant="body1" tag="p" class="description">{{
            feature.description
          }}</SlpTypography>
        </AnimateOnScroll>
      </div>
    </div>
    <div class="journey-illustration">
      <JourneyIllustration />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.journey {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  flex-direction: column;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
  .journey-illustration {
    flex-basis: 50%;
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 91px;
    padding-top: 15%;
    .ai-feature {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      gap: 16px;
      .name {
        background: linear-gradient(
          91.08deg,
          #f9a026 -9.03%,
          #a686f2 27.88%,
          #592ac8 65.98%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .description {
        color: white;
      }
    }
  }
}
</style>
