<script lang="ts">
import Vue from 'vue';
import { CtfButton } from '../../models/content-types.dto';

export default Vue.extend({
  name: 'DemoCard',
  props: {
    date: {
      type: String,
      required: true,
      default: null,
    },
    title: {
      type: String,
      required: true,
      default: null,
    },
    isDisabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    button: {
      type: Object as () => CtfButton,
      required: true,
      default: null,
    },
  },
  computed: {
    buttonText(): string {
      return this.isDisabled ? 'Registration opens soon' : this.button.text;
    },
  },
});
</script>

<template>
  <div class="demo">
    <article
      :class="isDisabled ? 'demo__card--disabled' : ''"
      class="demo__card"
    >
      <SlpRow class="demo__card-wrapper">
        <div class="demo__card-text">
          <SlpTypography tag="p" variant="body1" class="slp-pb-16">
            {{ date }}
          </SlpTypography>
          <SlpTypography tag="h3" variant="heading4-bold">
            {{ title }}
          </SlpTypography>
        </div>
        <div class="demo__button">
          <SlpButton
            variant="primary"
            :href="button.externalUrl"
            :disabled="isDisabled"
            >{{ buttonText }}</SlpButton
          >
        </div>
      </SlpRow>
    </article>
  </div>
</template>

<style lang="scss" scoped>
.demo {
  display: flex;
  flex-wrap: wrap;

  &__card {
    display: block;
    background: #f6f3fe;
    width: 100%;
    margin: 16px 0;
    padding: 48px;
    color: #171321;
    border-radius: $spacing-4;

    @media screen and (max-width: $breakpoint-md) {
      padding: 48px 32px;
    }
  }

  &__card--disabled {
    border: 1px solid #f6f3fe;
    background: #ffffff;
  }

  &__card-wrapper {
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      gap: $spacing-16;
    }
  }

  &__card-text {
    & > * {
      max-width: 90%;
    }
  }

  &__button {
    display: flex;
    align-items: center;
  }
}
</style>
